Repository Datawheel/canon, pull requests merged in 2022-02, with the labels that each got.

#1341 redesigns generator editor, API input/output, and variable lists (closes #1335)
  packages/reports/src/reports/blocks/Block.jsx
  packages/reports/src/reports/blocks/BlockEditor.jsx
  packages/reports/src/reports/blocks/BlockElement.jsx
  packages/reports/src/reports/blocks/BlockOutputPanel.jsx
  packages/reports/src/reports/blocks/BlockPreview.jsx
  packages/reports/src/reports/blocks/VariableList.css
  packages/reports/src/reports/blocks/VariableList.jsx
  packages/reports/src/reports/blocks/types/previewAdapters/Generator.js
  packages/reports/src/reports/blocks/types/renderers/Generator.jsx
  packages/reports/src/reports/blocks/types/renderers/Viz.jsx
  packages/reports/src/reports/components/ApiInput.jsx
  packages/reports/src/reports/components/ConsoleVariable.css
  packages/reports/src/reports/components/ConsoleVariable.jsx
  packages/reports/src/reports/components/ConsumerMenu.jsx
  packages/reports/src/reports/components/InputMenuItem.jsx
  packages/reports/src/reports/editors/AceWrapper.jsx
  packages/reports/src/reports/reports/ReportEditor.css
Labels: type: enhancement, type: design, priority: 2 - high, effort: 3 - standard, package: reports

#1346 Issue 1292 Dynamic Selectors
  .gitignore
  .vscode/settings.json
  packages/reports/src/actions/status.js
  packages/reports/src/reports/blocks/BlockEditor.jsx
  packages/reports/src/reports/blocks/types/renderers/Selector.jsx
  packages/reports/src/reports/editors/SimpleUI.jsx
  packages/reports/src/reports/editors/simple/SelectorUI.css
  packages/reports/src/reports/editors/simple/SelectorUI.jsx
  packages/reports/src/utils/js/stringifyObject.js
  packages/reports/src/utils/selectors/runSelector.js
  packages/reports/src/utils/selectors/scaffoldDynamic.js
  packages/reports/src/utils/selectors/selectorQueryToVariable.js
Labels: type: feature, type: design, package: reports

#1347 Optimize support, again
  packages/core/bin/server/steps/store.js
  packages/core/src/client.jsx
  packages/core/src/helpers/services.js
  packages/core/src/server.jsx
Labels: type: enhancement, priority: 2 - high, effort: 4 - easy, package: core

#1351 updates canon-cms-warmup docs
  packages/cms/README.md
Labels: type: docs, effort: 5 - trivial, priority: 4 - low, package: cms
