Repository Datawheel/canon, pull requests merged in 2022-01, with the labels that each got.

#1333 Sitemap generation
  .gitignore
  examples/canon.js
  packages/cms/README.md
  packages/cms/src/api/sitemap.js
  packages/cms/src/utils/sequelize/profiles.js
Labels: type: feature, priority: 4 - low, package: cms

#1331 Simple UI Static Selector
  packages/reports/src/reports/blocks/Block.jsx
  packages/reports/src/reports/blocks/BlockOutputPanel.jsx
  packages/reports/src/reports/editors/SimpleUI.jsx
  packages/reports/src/reports/editors/simple/SelectorUI.css
  packages/reports/src/reports/editors/simple/SelectorUI.jsx
Labels: type: feature, package: reports

#1337 Issue 1334 Refactor Block Editor Flow
  packages/reports/src/reports/blocks/Block.jsx
  packages/reports/src/reports/blocks/BlockEditor.jsx
  packages/reports/src/reports/blocks/BlockElement.jsx
  packages/reports/src/reports/blocks/BlockOutputPanel.jsx
  packages/reports/src/reports/blocks/BlockPreview.jsx
  packages/reports/src/reports/blocks/VariableList.jsx
  packages/reports/src/reports/blocks/types/previewAdapters/Generator.js
  packages/reports/src/reports/blocks/types/previewAdapters/Selector.js
  packages/reports/src/reports/blocks/types/previewAdapters/Viz.js
  packages/reports/src/reports/blocks/types/previewAdapters/index.js
  packages/reports/src/reports/blocks/types/renderers/Generator.jsx
  packages/reports/src/reports/blocks/types/renderers/Paragraph.jsx
  packages/reports/src/reports/blocks/types/renderers/Selector.jsx
  packages/reports/src/reports/blocks/types/renderers/Stat.jsx
  packages/reports/src/reports/blocks/types/renderers/Subtitle.jsx
  packages/reports/src/reports/blocks/types/renderers/Title.jsx
  packages/reports/src/reports/blocks/types/renderers/Viz.jsx
  packages/reports/src/reports/blocks/types/renderers/index.jsx
  packages/reports/src/reports/components/ApiInput.jsx
  packages/reports/src/reports/editors/DraftWrapper.jsx
  packages/reports/src/reports/editors/RichTextEditor.jsx
  packages/reports/src/reports/editors/SimpleUI.jsx
  packages/reports/src/reports/editors/simple/SelectorUI.jsx
  packages/reports/src/reports/hooks/blocks/selectors.js
  packages/reports/src/reports/reportVizes/Graphic.jsx
  packages/reports/src/utils/blocks/getBlockContent.js
  packages/reports/src/utils/consts/cms.js
Labels: type: design, type: docs, package: reports

#1342 [core] Support Google Optimize
  packages/core/README.md
  packages/core/src/helpers/services.js
  packages/core/src/server.jsx
Labels: type: enhancement, priority: 2 - high, effort: 5 - trivial, package: core

#1345 Cms 1.0 develop actions workflows
  .dockerignore
  .github/workflows/gcp-build-deploy.yml
  Dockerfile
Labels: type: feature, package: reports
